html {
    background-color: hsla(0, 60%, 75%, 0.9) /*darksalmon;*/
}

body {
    width: 1200px;
    /*text-align: center;*/
    margin: 0 auto;
    margin-bottom: 40px;
    /*padding: 30px 30px 30px 30px;*/
    background-color: white;
}

#content {
    padding: 35px 35px 35px 35px;
}

img {
    display: block;
    /*margin: 0 auto;*/
    margin: 0;
    padding: 0;
    max-width: 1200px;
}
