*{
    margin: 0;
    padding: 0;
    font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    background-color: #DC9B9B;
    font-family: Open Sans, Sans-serif, "Times New Roman", Times, serif;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    font-size: 1.0rem;
    line-height: 1.5rem;
}

.main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#content {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    
}

.footer {
    text-align: center;
    padding: 1.25rem;
    background-color: #f1f1f1;
    color: #333;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


h1 {
    color: #b04242; 
    font-size: 2rem;
    font-weight:600;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media ( max-width: 1199px ) {
    h1 {
        font-size: 1.23em;
    }
}

#imgBanner {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    width: 100%;
    height: auto;
}

.imgServSuggestOne {
    width: 100%;
    height: auto;
    max-width: 565px;
    padding-top: 1.25rem;
    float: left;
    padding-right: 2.1rem;
}

.imgServSuggestTwo {
    width: 100%;
    height: auto;
    max-width: 565px;
    padding-top: 1.25rem;
}

.p_Upper {
    background-color: lightgray;
    padding: 1.25rem;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul{
    padding-left: 1.25rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
}

ol{
    padding-left: 1.25rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
}
